#c {
    font-size: 30px;
    display: none;
}

#j {
    font-size: 30px;
    display: none;
}

#ruby {
    font-size: 30px;
    display: none;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: radial-gradient(circle at bottom right, rgb(242, 106, 56) 0%, rgb(242, 106, 56) 4%,rgb(238, 120, 55) 4%, rgb(238, 120, 55) 14%,rgb(233, 134, 54) 14%, rgb(233, 134, 54) 25%,rgb(229, 148, 53) 25%, rgb(229, 148, 53) 42%,rgb(224, 162, 51) 42%, rgb(224, 162, 51) 49%,rgb(220, 176, 50) 49%, rgb(220, 176, 50) 66%,rgb(215, 190, 49) 66%, rgb(215, 190, 49) 97%,rgb(211, 204, 48) 97%, rgb(211, 204, 48) 100%);
}

.container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
    padding: 20px;
}

p {
    font-style: oblique;
    font-size: 20px;
}

h1 {
    font-size: initial;
    font-size: 30px;
}

h2 {
    font-size: 23px;
}


