#c {
    display: none;
}

#j {
    display: none;
}

#ruby {
    display: none;
}

.container {
    text-align: center;
    margin-top: 20px;
    background-color: lemonchiffon;
    padding: 20px;
}

p {
    font-style: oblique;
    font-size: 20px;
}

h1 {
    font-size: initial;
    font-size: 30px;
}

h2 {
    font-size: 23px;
}
